.site-header {
  @include nav-background-selector;
}

.genesis-nav-menu a {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.nav-primary .sub-menu a {
  @include nav-background-selector;
  color: $font-primary;
}

.genesis-nav-menu a:focus, .genesis-nav-menu a:hover, .genesis-nav-menu .current-menu-item > a, .genesis-nav-menu .sub-menu .current-menu-item > a:focus, .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  @include nav-background-selector;
}
