/* ------------------------------------------------------------------
## Paragraph Styles
------------------------------------------------------------------ */
p {
  font-family: $paragraph-font;
  font-size: 1.15rem;
  font-weight: 400;
}