



/* ------------------------------------------------------------------
## Paragraph Styles
------------------------------------------------------------------ */
p {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
}