//  + ------------------------------------------------------------------ +
//  + Paragraph Styles                                                   +
//  + ------------------------------------------------------------------ +
p {
  font-family: $paragraph-font;
  color: $font-primary;
  font-size: 1rem;
}

//  + ------------------------------------------------------------------ +
//  + Link Styles                                                        +
//  + ------------------------------------------------------------------ +

a {
  color: $link-primary;
}
